{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    
    <!-- Affichage des erreurs globales du formulaire -->
    {% if registrationForm.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in registrationForm.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Affichage des erreurs spécifiques à chaque champ -->
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}
    
   <button type="submit" class="btn btn-primary">S'inscrire</button>
    
    {{ form_end(registrationForm) }}

    <!-- Affichage des messages flash -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
