{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
<div class="containner">
    <h1>Liste des Sessions</h1>
    
    <table class="table table-hover " >
        <thead>
            <tr>
                <th >Intitulé</th>
                <th >ville</th>
                <th >date debut </th>
                <th >date fin</th>
                <th>nombre de places total</th>
                <th>nombre de places réservées</th> 
              </tr>

    {% for session in sessions %}
    <p></p>
    <br>
    
        <tbody>
        <tr class="table-active">
            <th >{{ session.intitule }}</th>
            <td>{{ session.ville }}</td>
            <td>{{ session.dateDebut |date("m-d-Y") }}</td>
            <td>{{ session.dateFin |date("m-d-Y") }}</td>
            <td>{{ session.nbPlaces }}</td>
            <td>{{ session.placesReserve }}</td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
