{% extends 'base.html.twig' %}

{% block title %}Détail d'une Session{% endblock %}

{% block body %}
<div class="container">
    <h1>Session : {{ session.intitule }}</h1>
    <p>
        Date début : {{ session.dateDebut | date("d-m-Y") }}<br>
        Date fin : {{ session.dateFin | date("d-m-Y") }}<br>
        Nombre de places : {{ session.nbPlaces }}<br>
        Nombre de places réservées : {{ session.placesReserve }}
    </p>

    <div class="row">
        <div class="col-md-6">
            <h3>Élèves inscrits</h3>
            {% if session.stagiaires|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in session.stagiaires %}
                            <tr>
                                <td>{{ stagiaire.nom }}</td>
                                <td>{{ stagiaire.prenom }}</td>
                                <td>{{ stagiaire.email }}</td>
                                <td>{{ stagiaire.telephone }}</td>
                                <td><a href="{{path('desinscrire_stagiaire',{'id': session.id,'stagiaireId':stagiaire.id})}}">Désinscrire</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a pas d'élèves inscrits à cette session.</p>
            {% endif %}

            <h3>Élèves non inscrits</h3>
            {% if non_inscrits|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stagiaire in non_inscrits %}
                            <tr>
                                <td>{{ stagiaire.nom }}</td>
                                <td>{{ stagiaire.prenom }}</td>
                                <td>{{ stagiaire.email }}</td>
                                <td>{{ stagiaire.telephone }}</td>
                                <td><a href="{{ path('inscrire_stagiaire', {'id': session.id, 'stagiaireId': stagiaire.id}) }}">Inscrire</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a pas d'élèves non inscrits à cette session.</p>
            {% endif %}
        </div>

        <div class="col-md-6">
            <h3>Modules programmés</h3>
            {% if session.programmes|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>categorie</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in session.programmes %}
                            <tr>
                                <td>{{ programme.module.nom }}</td>
                                <td>{{ programme.module.categorie.nom}}</td>
                                <td><a href="{{path('deprogrammer_module', {'id': session.id, 'programmeId': programme.id})}}">Déprogrammer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a pas de modules programmés pour cette session.</p>
            {% endif %}

            <h3>Modules non programmés</h3>
            {% if non_programmes|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>CATEGORIE</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in non_programmes %}
                            <tr>
                                <td>{{ programme.module.nom }}</td>
                                <td>{{ programme.module.categorie.nom }}</td>
                                <td><a href="{{path('programmer_module', {'id': session.id, 'programmeId': programme.id})}}">Programmer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a pas de modules non programmés pour cette session.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

