
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le mot de passe utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
