{% extends 'base.html.twig' %}

{% block title %}édition mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Formulaire de modification de mot de passe de l'utilisateur</h1>

    {# Affiche les messages flash de type 'warning' #}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {# Affiche le formulaire ,form() est une fonction Twig pour afficher le formulaire. et le 2 emme form ma variable dans le controller #}
        {# Affiche le formulaire avec un bouton de soumission #}
        <form action="{{ path('user_edit', {id: user.id}) }}" method="post">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
</div>

{% endblock %}
